<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Institution</title>
    <link rel="stylesheet" href="/wdm_project/static/css/admin_institution.css">

</head>

<body style="background-color: #222;">

    <!--nav bar-->

    <div class="admin">
        <nav>
            <p class="Dashboard">Dashboard</p>
            <input type="text" placeholder="Search here..." class="search">
            <div>
                <img src="/wdm_project/static/images/1024px-Search_Icon.svg.png" class="search-image" alt="">
            </div>
            <ul>
                <li><a href="admin_dashboard.html">Dashboard</a></li>
                <li><button id="generateReport">Generate Report</button></li>
                <li><a href="chat.html">Chat</a></li>
            </ul>
            <img src="/wdm_project/static/images/surya.jpg" class="user-pic" alt="">

            <!--Hidden bar-->


            <div class="sub-menu-hide" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="/wdm_project/static/images/surya.jpg" alt="">
                        <h2>Kittu</h2>
                    </div>
                    <hr>
                    <a href="candidate_profile.html" class="sub-menu-link">
                        <img src="/wdm_project/static/images/profile.png" alt="">
                        <p>Edit Profile</p>
                        <span>></span>
                    </a>

                    <a href="admin_user_activity.html" class="sub-menu-link">
                        <img src="/wdm_project/static/images/help.png" alt="">
                        <p>Help and Support</p>
                        <span>></span>
                    </a>

                    <a href="#" class="sub-menu-link">
                        <img src="/wdm_project/static/images/logout.png" alt="">
                        <p>Logout</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <!--End of Nav bar-->

    <p class="institution_information">Institute Information</p>


    <table>
        <tr>

            <th>S.no</th>

            <th>Name</th>

            <th>QS_Rank</th>

            <th>Country</th>

            <th>State</th>

            <th>Email</th>

            <th>Profile</th>
        </tr>


        <tr>

            <td>1</td>

            <td>University of Texas at Arlington</td>

            <td>288</td>

            <td>USA</td>

            <td>TX</td>

            <td>Uta@mavs.uta.edu</td>

            <td><a href="institute_profile.html">View Profile</a></td>

        </tr>

        <tr>

            <td>2</td>

            <td>University of Texas at Dallas</td>

            <td>288</td>

            <td>USA</td>

            <td>TX</td>

            <td>Utd@utd.edu</td>

            <td><a href="institute_profile.html">View Profile</a></td>

        </tr>

        <tr>

            <td>3</td>

            <td>University of North Texas</td>

            <td>288</td>

            <td>USA</td>

            <td>TX</td>

            <td>Unt@unt.edu</td>

            <td><a href="institute_profile.html">View Profile</a></td>

        </tr>

        <tr>

            <td>4</td>

            <td>University of Memphis</td>

            <td>288</td>

            <td>USA</td>

            <td>Tennessee</td>

            <td>Uofm@uofm.edu</td>

            <td><a href="institute_profile.html">View Profile</a></td>

        </tr>

        <tr>

            <td>5</td>

            <td>University of Arkansas</td>

            <td>288</td>

            <td>USA</td>

            <td>TX</td>

            <td>Uofa@uofa.edu</td>

            <td><a href="institute_profile.html">View Profile</a></td>

        </tr>
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script src="/wdm_project/static/js/generate_excel.js"></script>
</body>

</html>