<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/wdm_project/static/css/admin.css">
    <link rel="stylesheet" href="/wdm_project/static/css/chat_dashboard.css">
</head>

<body style="background-color: #222;">

    <!--nav bar-->

    <div class="admin">
        <nav>
            <p class="Dashboard">Admin Dashboard</p>
            <input type="text" placeholder="Search here..." class="search">
            <div>
                <img src="/wdm_project/static/images/1024px-Search_Icon.svg.png" class="search-image" alt="">
            </div>
            <ul>
                <li><a href="admin_user_registrations.html">New User</a></li>
                <li><a href="chat.html">Chat</a></li>
            </ul>
            <img src="/wdm_project/static/images/surya.jpg" class="user-pic" onclick="toggleMenu()" alt=""
                title="Click to view menu">

            <!--Hidden bar-->


            <div class="sub-menu-hide" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="/wdm_project/static/images/surya.jpg" alt="">
                        <h2>Kittu</h2>
                    </div>
                    <hr>
                    <a href="candidate_profile.html" class="sub-menu-link">
                        <img src="/wdm_project/static/images/profile.png" alt="">
                        <p>Edit Profile</p>
                        <span>></span>
                    </a>

                    <a href="admin_user_activity.html" class="sub-menu-link">
                        <img src="/wdm_project/static/images/help.png" alt="">
                        <p>Help and Support</p>
                        <span>></span>
                    </a>

                    <a href="#" class="sub-menu-link">
                        <img src="/wdm_project/static/images/logout.png" alt="">
                        <p>Logout</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <!--End of Nav bar-->
    <!--Chat Bot-->
    <div class="chat-bar-collapsible">
        <button id="chat-button" type="button" class="collapsible">Chat with us!
            <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
        </button>

        <div class="content">
            <div class="full-chat-block">
                <div class="outer-container">
                    <div class="chat-container">
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                        </div>

                        <div class="chat-bar-input-block">
                            <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg"
                                    placeholder="Tap 'Enter' to send a message">
                                <p></p>
                            </div>

                            <div class="chat-bar-icons">
                                <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart"
                                    onclick="heartButton()"></i>
                                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                    onclick="sendButton()"></i>
                            </div>
                        </div>

                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--start-->
    <div class="stat">
        <div class="image1" onclick="window.open('admin_jobposted.html');">
            <img src="/wdm_project/static/images/bar icon.png" class="bar-icon" alt="">
            <p class="number1">54</p>
            <p class="candidates">Jobs</p>
        </div>

        <div class="image1" onclick="window.open('admin_application_status.html');">
            <img src="/wdm_project/static/images/ins.png" class="bar-icon" alt="">
            <p class="number1">336</p>
            <p class="candidates">Aplication Status</p>
        </div>

        <div class="image1" onclick="window.open('admin_application_matches.html');">
            <img src="/wdm_project/static/images/ins.png" class="bar-icon" alt="">
            <p class="number1">6</p>
            <p class="candidates">Aplication Matches</p>
        </div>

        <div class="image1" onclick="window.open('admin_candidates.html');">
            <img src="/wdm_project/static/images/bar icon.png" class="bar-icon" alt="">
            <p class="number1">1000</p>
            <p class="candidates">Candidates</p>
        </div>

        <div class="image1" onclick="window.open('admin_institution.html');">
            <img src="/wdm_project/static/images/ins.png" class="bar-icon" alt="">
            <p class="number1">526</p>
            <p class="candidates">Institutes</p>
        </div>

        <div class="image1" onclick="window.open('admin_recruiter.html');">
            <img src="/wdm_project/static/images/match.png" class="bar-icon" alt="">
            <p class="number1">5</p>
            <p class="candidates">Recruiters</p>
        </div>

        <div class="image1" onclick="window.open('admin_dei_officer.html');">
            <img src="/wdm_project/static/images/add-friend.jpg" class="bar-icon" alt="">
            <p class="number1">8</p>
            <p class="candidates">DEI Officer</p>
        </div>
    </div>


    <!--Hidden Menu JS-->
    <script>
        let subMenu = document.getElementById("subMenu");

        function toggleMenu() {
            subMenu.classList.toggle("open-menu");
        }


    </script>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/wdm_project/static/js/responses.js"></script>
<script src="/wdm_project/static/js/chat_dashboard.js"></script>

</html>