<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recuriter</title>
    <link rel="stylesheet" href="/wdm_project/static/css/admin_recruiter.css">
</head>

<body style="background-color: #222;">

    <!--nav bar-->

    <div class="admin">
        <nav>
            <p class="Dashboard">Dashboard</p>
            <input type="text" placeholder="Search here..." class="search">
            <div>
                <img src="1024px-Search_Icon.svg.png" class="search-image" alt="">
            </div>
            <ul>
                <li><a href="admin_dashboard.html">Dashboard</a></li>
                <li><button id="generateReport">Generate Report</button></li>
                <li><a href="chat.html">Chat</a></li>
            </ul>
            <img src="/wdm_project/static/images/surya.jpg" class="user-pic" alt="">

            <!--Hidden bar-->


            <div class="sub-menu-hide" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="/wdm_project/static/images/surya.jpg" alt="">
                        <h2>Kittu</h2>
                    </div>
                    <hr>
                    <a href="candidate_profile.html" class="sub-menu-link">
                        <img src="/wdm_project/static/images/profile.png" alt="">
                        <p>Edit Profile</p>
                        <span>></span>
                    </a>

                    <a href="admin_user_activity.html" class="sub-menu-link">
                        <img src="/wdm_project/static/images/help.png" alt="">
                        <p>Help and Support</p>
                        <span>></span>
                    </a>

                    <a href="#" class="sub-menu-link">
                        <img src="/wdm_project/static/images/logout.png" alt="">
                        <p>Logout</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <!--End of Nav bar-->

    <p class="recuriter_information">Recruiter Information</p>

    <table>
        <tr>

            <th>S.no</th>

            <th>First_Name</th>

            <th>Last_Name</th>

            <th>College</th>

            <th>D.O.B</th>

            <th>Email</th>

            <th>Profile</th>

        </tr>


        <tr>

            <td>1</td>

            <td>Karthikeya</td>

            <td>Janjanam</td>

            <td>UTA</td>

            <td>04-27-2001</td>

            <td>karthikeya.janjanam56789@gmail.com</td>

            <td><a href="recruiter_profile.html">View Profile</a></td>

        </tr>

        <tr>

            <td>1</td>

            <td>Karthikeya</td>

            <td>Janjanam</td>

            <td>UTD</td>

            <td>04-27-2001</td>

            <td>karthikeya.janjanam56789@gmail.com</td>

            <td><a href="recruiter_profile.html">View Profile</a></td>

        </tr>

        <tr>

            <td>1</td>

            <td>Karthikeya</td>

            <td>Janjanam</td>

            <td>Memphis</td>

            <td>04-27-2001</td>

            <td>karthikeya.janjanam56789@gmail.com</td>

            <td><a href="recruiter_profile.html">View Profile</a></td>

        </tr>

        <tr>

            <td>1</td>

            <td>Karthikeya</td>

            <td>Janjanam</td>

            <td>Arkansas</td>

            <td>04-27-2001</td>

            <td>karthikeya.janjanam56789@gmail.com</td>

            <td><a href="recruiter_profile.html">View Profile</a></td>

        </tr>

        <tr>

            <td>1</td>

            <td>Karthikeya</td>

            <td>Janjanam</td>

            <td>Arizona</td>

            <td>04-27-2001</td>

            <td>karthikeya.janjanam56789@gmail.com</td>

            <td><a href="recruiter_profile.html">View Profile</a></td>

        </tr>
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script src="/wdm_project/static/js/generate_excel.js"></script>
</body>

</html>