<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registered User</title>
    <link rel="stylesheet" type="text/css" href="/wdm_project/static/css/institute_application_status.css">

</head>



<body>
    <header>
        <div class="header-container">
            <h1>Registered User</h1>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="admin_dashboard.html">Dashboard</a></li>
                        <li><button id="generateReport">Generate Report</button></li>
                        <li><a href="chat.html">Chat</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <!-- Jobs Applied Content -->
        <section id="jobsearch" class="tile">
            <div class="search">
                <input type="text" placeholder="Search by name, field of study, or institution">
                <button>Search</button>
            </div>

            <div class="filters">
                <!-- User filter -->
                <label for="status">Status:</label>
                <select id="status">
                    <option value="registered">Registered</option>
                    <option value="active">Active</option>
                    <option value="deleted">Deleted</option>
                </select>
            </div>

            <div class="job-applied">
                <table>
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Type</th>
                            <th>Registration Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>John Doe</td>
                            <td>john.doe@example.com</td>
                            <td>Institute</td>
                            <td>2023-07-18</td>
                            <td>
                                <a href="institute_profile.html?id=1">View</a> |
                                <a href="institute_dashboard.html?id=1">Approve</a> |
                                <a href="register.html?id=1">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jane Smith</td>
                            <td>jane.smith@example.com</td>
                            <td>Candidate</td>
                            <td>2023-07-17</td>
                            <td>
                                <a href="candidate_profile.html?id=2">View</a> |
                                <a href="candidate_dashboard.html?id=2">Approve</a> |
                                <a href="register.html?id=2">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>


    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script src="/wdm_project/static/js/generate_excel.js"></script>
</body>

</html>