<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Candidates</title>
    <link rel="stylesheet" href="/wdm_project/static/css/admin_candidates.css">

</head>

<body style="background-color: #222;">

    <!--nav bar-->

    <div class="admin">
        <nav>
            <p class="Dashboard">Dashboard</p>
            <input type="text" placeholder="Search here..." class="search">
            <div>
                <img src="/wdm_project/static/images/1024px-Search_Icon.svg.png" class="search-image" alt="">
            </div>
            <ul>
                <li><a href="admin_dashboard.html">Dashboard</a></li>
                <li><button id="generateReport">Generate Report</button></li>
                <li><a href="chat.html">Chat</a></li>
            </ul>
            <img src="/wdm_project/static/images/surya.jpg" class="user-pic" alt="">

            <!--Hidden bar-->


            <div class="sub-menu-hide" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="/wdm_project/static/images/surya.jpg" alt="">
                        <h2 style="color: black;">Kittu</h2>
                    </div>
                    <hr>
                    <a href="#" class="sub-menu-link">
                        <img src="/wdm_project/static/images/profile.png" alt="">
                        <p>Edit Profile</p>

                        <span>></span>
                    </a>

                    <a href="#" class="sub-menu-link">
                        <img src="/wdm_project/static/images/setting.png" alt="">
                        <p>Settings and privacy</p>
                        <span>></span>
                    </a>

                    <a href="#" class="sub-menu-link">
                        <img src="/wdm_project/static/images/help.png" alt="">
                        <p>Help and Support</p>
                        <span>></span>
                    </a>

                    <a href="#" class="sub-menu-link">
                        <img src="/wdm_project/static/images/logout.png" alt="">
                        <p>Logout</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <!--End of Nav bar-->

    <p class="no_of_candidates">Candidates Information</p>

    <table>
        <tr>

            <th>S.no</th>

            <th>First_Name</th>

            <th>Last_Name</th>

            <th>Education</th>

            <th>D.O.B</th>

            <th>Email</th>

            <th>Profile</th>

            <th>Current Status</th>
        </tr>


        <tr>

            <td>1</td>

            <td>Karthikeya</td>

            <td>Janjanam</td>

            <td>Masters</td>

            <td>04-27-2001</td>

            <td>karthikeya.janjanam56789@gmail.com</td>

            <td><a href="candidate_profile.html">View Profile</a></td>

            <td>Under HR review</td>

        </tr>

        <tr>

            <td>1</td>

            <td>Jayasurya</td>

            <td>Guna</td>

            <td>Masters</td>

            <td>04-27-2001</td>

            <td>jaya.guna@gmail.com</td>

            <td><a href="candidate_profile.html">View Profile</a></td>

            <td>Under HR review</td>

        </tr>

        <tr>
            <td>2</td>
            <td>John</td>
            <td>Doe</td>
            <td>Bachelor's</td>
            <td>09-15-1995</td>
            <td>john.doe@example.com</td>
            <td><a href="candidate_profile.html">View Profile</a></td>
            <td>Background Check Pending</td>
        </tr>

        <tr>
            <td>3</td>
            <td>Jane</td>
            <td>Smith</td>
            <td>PhD</td>
            <td>05-03-1988</td>
            <td>jane.smith@example.com</td>
            <td><a href="candidate_profile.html">View Profile</a></td>
            <td>Background Check Pending</td>
        </tr>

        <tr>
            <td>4</td>
            <td>Michael</td>
            <td>Johnson</td>
            <td>Bachelor's</td>
            <td>11-21-1990</td>
            <td>michael.johnson@example.com</td>
            <td><a href="candidate_profile.html">View Profile</a></td>
            <td>Under HR review</td>
        </tr>

        <!-- Add more rows as needed -->

    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script src="/wdm_project/static/js/generate_excel.js"></script>
</body>

</html>