<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Candidate Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/wdm_project/static/css/candidate_dashboard.css">

</head>

<body>
    <header>
        <div class="header-container">
            <h1>Candidate Dashboard</h1>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="candidate_jobsearch.html">Jobs</a></li>
                        <li><a href="candidate_profile.html">Profile</a></li>
                        <li><a href="chat.html">Chat</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <!-- Dahsboard Content -->
        <section id="dashboard">
            <div class="row">
                <article class="style1">
                    <div class="graph-container">
                        <div class="graph-info">
                            <h2><a href="candidate_jobsearch.html">Jobs Posted</a></h2>
                            <span class="count">2</span>
                        </div>
                        <div class="graph">
                            <img src="/wdm_project/static/images/bar.jpg" alt="Chart">
                        </div>
                    </div>
                </article>
                <article class="style1">
                    <div class="graph-container">
                        <div class="graph-info">
                            <h2><a href="candidate_jobapplied.html">Jobs Applied</a></h2>
                            <span class="count">15</span>
                        </div>
                        <div class="graph">
                            <img src="/wdm_project/static/images/bar.jpg" alt="Chart">
                        </div>
                    </div>
                </article>
            </div>
            <div class="row">
                <article class="style1">
                    <div class="graph-container">
                        <div class="graph-info">
                            <h2><a href="candidate_jobsaved.html">Jobs Saved</a></h2>
                            <span class="count">8</span>
                        </div>
                        <div class="graph">
                            <img src="/wdm_project/static/images/bar.jpg" alt="Chart">
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>
</body>

</html>