<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="/static/css/feedback.css">
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Contact</h1>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="services.html">Services</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <!-- Feedback Content -->
        <section id="contact" class="contact-section">
            <h2>Give Feedback</h2>
            <p>Would love to listen from you.</p>
            <div class="row">
                <div class="col-8 col-12-small form-section">
                    <form method="post" action="contact_admin.php">
                        <div class="row gtr-uniform gtr-50">
                            <input type="text" name="name" id="name" placeholder="Name" />
                            <input type="email" name="email" id="email" placeholder="Email" />
                        </div>
                        <div class="rating">
                            <p>Rate your experience:</p>
                            <div class="rating-icons">
                                <input type="radio" id="great" name="rating" value="great">
                                <label for="great">😀 Great</label>
                                <input type="radio" id="good" name="rating" value="good">
                                <label for="good">🙂 Good</label>
                                <input type="radio" id="so-so" name="rating" value="so-so">
                                <label for="so-so">😐 So-so</label>
                                <input type="radio" id="bad" name="rating" value="bad">
                                <label for="bad">🙁 Bad</label>
                            </div>
                        </div>
                        <div class="comments">
                            <p>Any comments?</p>
                            <textarea name="comments" id="comments" placeholder="Enter your comments here"
                                rows="4"></textarea>
                        </div>
                        <!-- <div class="follow-up">
                            <input type="checkbox" id="follow-up" name="follow-up" value="yes">
                            <label for="follow-up">I would like to be contacted for a follow-up.</label>
                        </div>
                        <div class="transcript">
                            <input type="checkbox" id="transcript" name="transcript" value="yes">
                            <label for="transcript">Email yourself a transcript of this chat</label>
                        </div> -->
                        <input type="submit" value="Submit Feedback" class="button primary" />
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>
</body>

</html>