<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Institute Faculty</title>
    <link rel="stylesheet" type="text/css" href="/wdm_project/static/css/institute_faculty.css">

</head>

<body>
    <header>
        <div class="header-container">
            <h1>Institute Faculty</h1>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="institute_about.html">About</a></li>
                        <li><a href="institute_dashboard.html">Dashboard</a></li>
                        <li><a href="institute_jobposted.html">Jobs</a></li>
                        <li><a href="institute_candidates_interested.html">Candidates Interested</a></li>
                        <li><a href="institute_recruiter.html">Recruiters</a></li>
                        <li><a href="institute_research.html">Research</a></li>
                        <li><a href="institute_profile.html">Profile</a></li>
                        <li><a href="chat.html">Chat</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <!-- Job Searching Content -->
        <section id="jobsearch" class="tile">
            <div class="search">
                <input type="text" placeholder="Search by name, field of study">
                <button>Search</button>
            </div>

            <div class="filters">
                <!-- Field of Study filter -->
                <label for="field">Field of Study:</label>
                <select id="field">
                    <option value="all">All</option>
                    <option value="computer-science">Computer Science</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="physics">Physics</option>
                    <option value="mathematics">Mathematics</option>
                    <!-- Add more options as needed -->
                </select>
            </div>


            <div class="candidate-list">
                <!-- Display list of available job postings here -->
                <div class="job-posting">
                    <div class="job-info">
                        <h2>Elizabeth Diaz</h2>
                        <p>At the University of Texas at Arlington have taught Web Data Management and Data Mining.</p>
                        <p>Location: USA</p>
                        <p>Course: CSE 5335, section 001, Web Data Management</p>
                        <!-- Add more job details as needed -->
                    </div>
                    <div class="job-actions">
                        <button type="submit">Details</button>
                    </div>
                </div>

                <div class="job-posting">
                    <div class="job-info">
                        <h2>David Levine</h2>
                        <p>At the University of Texas at Arlington have taught Introduction to Computers and
                            Programming, Discrete Structures, Theoretical Concepts, Programming Language Theory,
                            Introduction to Engineering, and Database and File Systems.</p>
                        <p>Location: USA</p>
                        <p>Course: CSE 6332, section 001, Cloud Computing and Big Data</p>
                        <!-- Add more job details as needed -->
                    </div>
                    <div class="job-actions">
                        <button>Details</button>
                    </div>
                </div>

                <div class="job-posting">
                    <div class="job-info">
                        <h2>Marnim Galib</h2>
                        <p>At the University of Texas at Arlington have taught Introduction to Computers and
                            Programming, Discrete Structures, Theoretical Concepts, Programming Language Theory,
                            Introduction to Engineering, and Database and File Systems.</p>
                        <p>Location: USA</p>
                        <p>Course: CSE 6332, section 001, Cloud Computing and Big Data</p>
                        <!-- Add more job details as needed -->
                    </div>
                    <div class="job-actions">
                        <button>Details</button>
                    </div>
                </div>

                <div class="job-posting">
                    <div class="job-info">
                        <h2>Shirin Shirvani</h2>
                        <p>At the University of Texas at Arlington have taught Introduction to Computers and
                            Programming, Discrete Structures, Theoretical Concepts, Programming Language Theory,
                            Introduction to Engineering, and Database and File Systems.</p>
                        <p>Location: USA</p>
                        <p>Course: CSE 6311, section 001, DAMT</p>
                        <!-- Add more job details as needed -->
                    </div>
                    <div class="job-actions">
                        <button>Details</button>
                    </div>
                </div>

                <div class="job-posting">
                    <div class="job-info">
                        <h2>Jayasurya Guasekharan</h2>
                        <p>At the University of Texas at Arlington have taught Introduction to Computers and
                            Programming, Discrete Structures, Theoretical Concepts, Programming Language Theory,
                            Introduction to Engineering, and Database and File Systems.</p>
                        <p>Location: USA</p>
                        <p>Course: CSE 5333, section 001, Nueral Network</p>
                        <!-- Add more job details as needed -->
                    </div>
                    <div class="job-actions">
                        <button>Details</button>
                    </div>
                </div>

                <!-- Add more job postings as needed -->
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>
</body>

</html>