<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Institute Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/wdm_project/static/css/institute_dashboard.css">

</head>

<body>
    <header>
        <div class="header-container">
            <h1>Institute Dashboard</h1>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="institute_about.html">About</a></li>
                        <li><a href="institute_jobposted.html">Jobs</a></li>
                        <li><a href="institute_application_status.html">Application Status</a></li>
                        <li><a href="institute_candidates_interested.html">Candidates Interested</a></li>
                        <li><a href="institute_recruiter.html">Recruiters</a></li>
                        <li><a href="institute_faculty.html">Faculty</a></li>
                        <li><a href="institute_research.html">Research</a></li>
                        <li><a href="institute_profile.html">Profile</a></li>
                        <li><a href="chat.html">Chat</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <!-- Dahsboard Content -->
        <section id="dashboard">
            <div class="row">
                <article class="style1">
                    <div class="graph-container">
                        <div class="graph-info">
                            <h2><a href="institute_jobposted.html">Jobs Posted</a></h2>
                            <span class="count">2</span>
                        </div>
                        <!-- <div class="graph">
                            <img src="/wdm_project/static/images/bar.jpg" alt="Chart">
                        </div> -->
                    </div>
                </article>
                <article class="style1">
                    <div class="graph-container">
                        <div class="graph-info">
                            <h2><a href="institute_application_status.html">Application Status</a></h2>
                            <span class="count">5</span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="row">
                <article class="style1">
                    <div class="graph-container">
                        <div class="graph-info">
                            <h2><a href="institute_candidates_interested.html">Candidates Interested</a></h2>
                            <span class="count">5</span>
                        </div>
                    </div>
                </article>
                <article class="style1">
                    <div class="graph-container">
                        <div class="graph-info">
                            <h2><a href="institute_recruiter.html">Recruiters</a></h2>
                            <span class="count">3</span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="row">
                <article class="style1">
                    <div class="graph-container">
                        <div class="graph-info">
                            <h2><a href="institute_faculty.html">Faculty</a></h2>
                            <span class="count">3</span>
                        </div>
                    </div>
                </article>
                <article class="style1">
                    <div class="graph-container">
                        <div class="graph-info">
                            <h2><a href="institute_research.html">Research Areas</a></h2>
                            <span class="count">5</span>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>
</body>

</html>