<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Candidates</title>
    <link rel="stylesheet" type="text/css" href="/wdm_project/static/css/institute_jobposted.css">

</head>

<body>
    <header>
        <div class="header-container">
            <h1>Candidates</h1>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="officer_dashboard.html">Dashboard</a></li>
                        <li><a href="officer_about.html">About</a></li>
                        <li><a href="officer_job_approval.html">Approve Jobs</a></li>
                        <li><a href="officer_workshops.html">Workshops</a></li>
                        <li><a href="officer_policy_review.html">Policy Review</a></li>
                        <li><a href="chat.html">Chat</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <!-- Jobs Applied Content -->
        <section id="jobsearch" class="tile">
            <div class="search">
                <input type="text" placeholder="Search by name, field of study, or institution">
                <button>Search</button>
            </div>

            <!-- Job Applied Table -->
            <div class="job-applied">
                <table>
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>First_Name</th>
                            <th>Last_Name</th>
                            <th>Education</th>
                            <th>D.O.B</th>
                            <th>Email</th>
                            <th>Profile</th>
                            <th>Ethnicity</th>
                            <th>Current Status</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Karthikeya</td>
                            <td>Janjanam</td>
                            <td>Masters</td>
                            <td>04-27-2001</td>
                            <td>karthikeya.janjanam56789@gmail.com</td>
                            <td><a href="candidate_profile.html">View Profile</a></td>
                            <td>Asian</td>
                            <td>Under HR review</td>
                            <td>Arlington, TX</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Jayasurya</td>
                            <td>Guna</td>
                            <td>Masters</td>
                            <td>04-27-2001</td>
                            <td>jaya.guna@gmail.com</td>
                            <td><a href="candidate_profile.html">View Profile</a></td>
                            <td>White</td>
                            <td>Under HR review</td>
                            <td>Dallas, TX</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>Bachelor's</td>
                            <td>09-15-1995</td>
                            <td>john.doe@example.com</td>
                            <td><a href="candidate_profile.html">View Profile</a></td>
                            <td>Black</td>
                            <td>Background Check Pending</td>
                            <td>San Francisco, CA</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>Jane</td>
                            <td>Smith</td>
                            <td>PhD</td>
                            <td>05-03-1988</td>
                            <td>jane.smith@example.com</td>
                            <td><a href="candidate_profile.html">View Profile</a></td>
                            <td>Hispanic</td>
                            <td>Background Check Pending</td>
                            <td>Los Angeles, CA</td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>Michael</td>
                            <td>Johnson</td>
                            <td>Bachelor's</td>
                            <td>11-21-1990</td>
                            <td>michael.johnson@example.com</td>
                            <td><a href="candidate_profile.html">View Profile</a></td>
                            <td>Asian</td>
                            <td>Under HR review</td>
                            <td>New York, NY</td>
                        </tr>

                        <!-- Add more rows as needed -->
                    </tbody>
                </table>


            </div>
        </section>
    </main>


    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script src="/wdm_project/static/js/generate_excel.js"></script>
</body>

</html>