<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Policy Review</title>
	<link rel="stylesheet" href="/wdm_project/static/css/base.css">
	<script src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body style="background-color: #222;">

	<!--nav bar-->

	<div class="admin">
		<nav>
			<p class="Dashboard">Policy Review</p>
			<div class="search-container">
				<input type="text" placeholder="Search here..." class="search">
				<i class="fa fa-search search-icon" aria-hidden="true"></i>
			</div>
			<ul>
				<li><a href="officer_dashboard.html">Dashboard</a></li>
				<li><a href="officer_about.html">About</a></li>
				<li><a href="officer_job_approval.html">Approve Jobs</a></li>
				<li><a href="officer_workshops.html">Workshops</a></li>
				<li><a href="officer_policy_review.html">Policy Review</a></li>
				<li><a href="chat.html">Chat</a></li>
			</ul>
		</nav>
	</div>

	<!--End of Nav bar-->

	<!--Begin Diversity Matrics Content-->

	<!--You can add your specific Diversity Matrics content here. For example: -->
	<center>
		<div id="diversity-metrics-content">

			<p class="page-title">Policy Review</p>
		</div>
		<div class="card-button">
			<a href="#" class="card-button-link"><i class="fas fa-pencil-alt"></i>Modify
				policy</a>
		</div>
	</center>
	<!-- START: Current Policy-->
	<p class="page-sub-title">Current Policy</p>
	<div class="card-container">
		<div class="full-card">
			<div class="card-content">
				<section>
					<h2 class="section-title">1. Purpose</h2>
					<p class="section-content">The purpose of this policy is to establish guidelines for the operation
						of the website, which serves as a platform connecting institutions and recruiters with
						underrepresented minority candidates. The website aims to promote equal opportunities,
						diversity, and inclusion in the recruitment process.</p>
				</section>
				<br>
				<section>
					<h2 class="section-title">2. Definition of Underrepresented Minority</h2>
					<p class="section-content">For the purposes of this policy, underrepresented minority refers to
						individuals who identify as belonging to racial, ethnic, or other marginalized groups that have
						historically been underrepresented in various industries or sectors.</p>
				</section>
				<br>
				<section>
					<h2 class="section-title">3. Non-Discrimination</h2>
					<p class="section-content">The website shall operate on the principle of non-discrimination.
						Institutions and recruiters using the platform must not discriminate against candidates based on
						their race, ethnicity, gender, sexual orientation, religion, disability, or any other protected
						characteristic. Discriminatory practices will not be tolerated, and any reports of such behavior
						will be investigated and appropriate actions taken.</p>
				</section>
				<br>
				<section>
					<h2 class="section-title">4. Platform Accessibility</h2>
					<p class="section-content">The website should be designed and developed to ensure accessibility for
						individuals with disabilities, complying with relevant accessibility standards and guidelines.
						Efforts should be made to provide an inclusive experience to all users, regardless of their
						abilities or assistive technologies used.</p>
				</section>
			</div>
		</div>
	</div>
	<!-- END: Current Policy-->
	<script src="/wdm_project/static/js/navbar.js"></script>
</body>

</html>