<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Diversity Matrics</title>
	<link rel="stylesheet" href="/wdm_project/static/css/base.css">
	<script src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body style="background-color: #222;">

	<!--nav bar-->

	<div class="admin">
		<nav>
			<p class="Dashboard">DEI Officer</p>
			<div class="search-container">
				<input type="text" placeholder="Search here..." class="search">
				<i class="fa fa-search search-icon" aria-hidden="true"></i>
			</div>
			<ul>
				<li><a href="officer_dashboard.html">Dashboard</a></li>
				<li><a href="officer_about.html">About</a></li>
				<li><a href="officer_job_approval.html">Approve Jobs</a></li>
				<li><a href="chat.html">Chat</a></li>
				<li>
					<a href="#" id="inbox">Inbox</a>
					<!-- Notifications Dropdown Menu -->
					<div id="notificationsDropdown" class="dropdown-content">
						<div class="notification-item">
							<span>Notification 1</span>
							<i class="fa fa-times remove-notification"></i>
						</div>
						<div class="notification-item">
							<span>Notification 2</span>
							<i class="fa fa-times remove-notification"></i>
						</div>
					</div>
				</li>

				<!-- START: Dashboard Menu-->
				<li>
					<a href="#" id="dashboardMenu">Menu</a>
					<div id="dropdownMenu" class="dropdown-content">
						<a href="officer_workshops.html">Workshops</a>
						<a href="officer_policy_review.html">Policy Review</a>
					</div>
				</li>
				<!-- START: Dashboard Menu-->

			</ul>
			<i class="fa fa-user-circle user-pic" onclick="toggleMenu()"></i>

			<div class="sub-menu-hide" id="subMenu">
				<div class="sub-menu">
					<div class="user-info">
						<i class="fa fa-user-circle"></i>
						<h2 style="color: black;">Officer Name</h2>
					</div>
					<hr>
					<a href="#" class="sub-menu-link">
						<i class="fa fa-sign-out"></i>
						<p>Logout</p>
						<span>></span>
					</a>
				</div>
			</div>
		</nav>
	</div>

	<!--End of Nav bar-->

	<!--Begin Diversity Matrics Content-->

	<!--You can add your specific Diversity Matrics content here. For example: -->
	<center>
		<div id="diversity-metrics-content">

			<p class="page-title">Diversity Metrics</p>
		</div>
	</center>
	<!-- Candidate Statistica start-->
	<div class="card-container">
		<div class="card-stats">
			<div class="card-content">
				<h3 class="card-title"><a href="officer_jobmatched.html">Jobs Matched under DEI criteria</a></h3>
				<p class="card-text">150</p>
			</div>
		</div>
		<div class="card-stats">
			<div class="card-content">
				<h3 class="card-title"><a href="officer_candidates.html">Interested Candidates</a></h3>
				<p class="card-text">452</p>
			</div>
		</div>
		<div class="card-stats">
			<div class="card-content">
				<h3 class="card-title"><a href="officer_recruiter.html">Total Number of Recruiters</a></h3>
				<p class="card-text">45</p>
			</div>
		</div>
	</div>
	<!-- Candidate Statistica End-->
	<!-- Graphs Start-->
	<div class="card-container">
		<div class="card">
			<div class="card-content">
				<div id="piechart" style="width: 500px; height: 300px;"></div>
			</div>
		</div>
		<div class="card">
			<div class="card-content">
				<div id="barchart" style="width: 500px; height: 300px;"></div>
			</div>
		</div>
	</div>
	<div class="card-container">
		<div class="card">
			<div class="card-content">
				<div id="gender-chart" style="width: 500px; height: 300px;"></div>
			</div>
		</div>
		<div class="card">
			<div class="card-content">
				<div id="chart" style="width: 500px; height: 300px;"></div>
			</div>
		</div>
	</div>
	<!--End Diversity Matrics Content-->

	<script src="/wdm_project/static/js/navbar.js"></script>
	<script src="/wdm_project/static/js/Diversity_Matrics.js"></script>
</body>

</html>