<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Recruitment</title>
    <link rel="stylesheet" type="text/css" href="/wdm_project/static/css/institute_dashboard.css">
</head>

<body>
    <header>
        <div class="header-container">
            <h1>About Recruitment</h1>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="recruiter_about.html">About</a></li>
                        <li><a href="recruiter_dashboard.html">Dashboard</a></li>
                        <li><a href="recruiter_profile.html">Profile</a></li>
                        <li><a href="chat.html">Chat</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <main>
        <!-- Homepage Content -->
        <section id="homepage">
            <h2>OUR STORY</h2>
            <p>
                We’ve always done things differently. Born from the idea that staffing could be less about financial
                gain and corporate in-roads, and more about genuine relationships and meaningful impact, the company was
                founded as an entrepreneurial start-up in 2001. Since then, we’ve grown exponentially, and in a number
                of ways.
                Today, we are a purpose-driven company that’s dedicated to empowering people through the value of
                opportunity. We give it our all to put people to work.
            </p>
        </section>

        <!-- Homepage Content -->
        <section id="homepage">
            <h2>WE’RE A COMPANY THAT CARES FOR OTHERS</h2>
            <p>
                We aren’t just a staffing company. We’re a company that cares for others. It might sound lofty, but it’s
                the idea that gets us up everyday, determined to make it true. Insight Global is a company that people
                can anchor to in moments of triumph, struggle, and every time in between. Whoever you are and wherever
                you come from, you matter to us and we have your back.
            </p>
        </section>

        <!-- Homepage Content -->
        <section id="homepage">
            <h2>OUR PURPOSE</h2>
            <p>
                We believe that if we can develop our people to become the best versions of themselves, then they will
                turn around and take care of our customers, our consultants, and our candidates in ways that far exceed
                any expectations.
            </p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>
</body>

</html>