<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recruiter Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/wdm_project/static/css/recruiter_dash_profile.css">

</head>

<body>
    <header>
        <div class="header-container">
            <h1>Recruiter Dashboard</h1>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="recruiter_about.html">About</a></li>
                        <li><a href="recruiter_profile.html">Profile</a></li>
                        <li><a href="chat.html">Chat</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <!-- Dahsboard Content -->
        <section id="dashboard">
            <div class="row">
                <article class="style1">
                    <div class="graph-container">
                        <div class="graph-info">
                            <h2>Jobs Posted</h2>
                            <span class="count">2</span>
                        </div>
                        <div class="graph">
                            <a href="recruiter_jobsearch.html">
                                <input type="button" class="show" value="Show Jobs" />
                            </a>
                        </div>
                    </div>
                </article>
                <article class="style1">
                    <div class="graph-container">
                        <div class="graph-info">
                            <h2>Applied Candidates</h2>
                            <span class="count">2</span>
                        </div>
                        <div class="graph">
                            <a href="recruiter_applied.html">
                                <input type="button" class="show" value="Show Candidates" />
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="row">
                <article class="style1">
                    <div class="graph-container">
                        <div class="graph-info">
                            <h2>Application Status</h2>
                            <span class="count">5</span>
                        </div>
                        <div class="graph">
                            <a href="recruiter_application_status.html">
                                <input type="button" class="show" value="Show Candidates" />
                            </a>
                        </div>
                    </div>
                </article>
                <article class="style1">
                    <div class="graph-container">
                        <div class="graph-info">
                            <h2>Matched Candidates</h2>
                            <span class="count">5</span>
                        </div>
                        <div class="graph">
                            <a href="recruiter_matching.html">
                                <input type="button" class="show" src="editprofile.html" value="Show Matches" />
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="row">
                <article class="style1">
                    <div class="graph-container">
                        <div class="graph-info">
                            <h2>User Management</h2>
                            <span class="count">6</span>
                        </div>
                        <div class="graph">
                            <a href="recruiter_user_registrations.html">
                                <input type="button" class="show" value="Show Candidates" />
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>
</body>

</html>