<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matched Candidates</title>
    <link rel="stylesheet" type="text/css" href="/wdm_project/static/css/recruiter_dash_profile.css">

</head>


<body>
    <header>
        <div class="header-container">
            <h1>Matched Candidates</h1>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="recruiter_about.html">About</a></li>
                        <li><a href="recruiter_dashboard.html">Dashboard</a></li>
                        <li><a href="recruiter_profile.html">Profile</a></li>
                        <li><a href="chat.html">Chat</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <!-- Profile Content -->
        <section id="dashboard">
            <div class="row">
                <div class="graph-container">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Feild of Study</th>
                            <th>Resume</th>
                            <th>Preference</th>
                            <th>CV</th>
                            <th>Setup Interview</th>
                        </tr>
                        <tr>
                            <td>Jimmy Anderson</td>
                            <td>jimmy09@gmail.com</td>
                            <td>134567890</td>
                            <td>CS</td>
                            <td><a href="#" target="_blank">Download Resume</a></td>
                            <td>Matched</td>
                            <td><a href="#" target="_blank">Download Application</a></td>
                            <td>
                                <a href="recruiter_setup_interview.html" target="_blank">Recruit</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Michael Johnson</td>
                            <td>michael.johnson@example.com</td>
                            <td>567890123</td>
                            <td>Mechanical Engineering</td>
                            <td><a href="#" target="_blank">Download Resume</a></td>
                            <td>Matched</td>
                            <td><a href="#" target="_blank">Download Application</a></td>
                            <td>
                                <a href="recruiter_setup_interview.html" target="_blank">Recruit</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Bob Williams</td>
                            <td>bob.williams@example.com</td>
                            <td>123456789</td>
                            <td>Software Engineering</td>
                            <td><a href="#" target="_blank">Download Resume</a></td>
                            <td>Matched</td>
                            <td><a href="#" target="_blank">Download Application</a></td>
                            <td>
                                <a href="recruiter_setup_interview.html" target="_blank">Recruit</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Emma Davis</td>
                            <td>emma.davis@example.com</td>
                            <td>654321987</td>
                            <td>Data Science</td>
                            <td><a href="#" target="_blank">Download Resume</a></td>
                            <td>Matched</td>
                            <td><a href="#" target="_blank">Download Application</a></td>
                            <td>
                                <a href="recruiter_setup_interview.html" target="_blank">Recruit</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Lisa Johnson</td>
                            <td>lisa.johnson@example.com</td>
                            <td>432109876</td>
                            <td>Mechanical Engineering</td>
                            <td><a href="#" target="_blank">Download Resume</a></td>
                            <td>Matched</td>
                            <td><a href="#" target="_blank">Download Application</a></td>
                            <td>
                                <a href="recruiter_setup_interview.html" target="_blank">Recruit</a>
                            </td>
                        </tr>
                        <!-- Add more rows as needed -->
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>
</body>

</html>