<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interview</title>
    <link rel="stylesheet" type="text/css" href="/wdm_project/static/css/index.css">
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Interview</h1>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="recruiter_about.html">About</a></li>
                        <li><a href="recruiter_dashboard.html">Dashboard</a></li>
                        <li><a href="recruiter_profile.html">Profile</a></li>
                        <li><a href="chat.html">Chat</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <main>
        <!-- Homepage Content -->
        <section id="homepage">
            <h2>Setup Interview Transcript</h2>
            <form action="recruiter_video_interview.php" method="POST">
                <div class="profile-info content">
                    <label for="video_interview">2 min video:</label>
                    <input type="file" id="video_interview" name="video_interview">
                </div>
            </form>
            <p>
                In the 2-minute interview video, the candidate can talk about the following aspects related to the job
                position:

                Remember to be concise and focused in your video while covering important points. If the recruiter
                requires further details or wants to discuss anything specific, they can inquire during the chat section
                below the video. Use this opportunity to showcase your personality, passion, and suitability for the
                job. Good luck!
            </p>
        </section>

        <section id="goal">
            <h2>Contact Candidate</h2>
            <p>
                <a href="chat.html">Chat</a>
            </p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>
</body>

</html>