<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Roles</title>
    <link rel="stylesheet" type="text/css" href="/wdm_project/static/css/index.css">
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Roles</h1>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">SignUp</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <main>

        <!-- Roles Content -->
        <section id="goal">
            <div class="tile-container">
                <article class="style1">
                    <span class="image">
                        <img src="/wdm_project/static/images/surya.jpg" alt="" />
                    </span>
                    <div class="overlay">

                        <div class="content">
                            <p class="details"><a href="candidate_dashboard.html">Candidate</a></p>
                        </div>
                    </div>
                </article>


                <article class="style1">
                    <span class="image">
                        <img src="/wdm_project/static/images/uta_logo.png" alt="" />
                    </span>
                    <div class="overlay">

                        <div class="content">
                            <p><a href="institute_dashboard.html">Institute</a></p>
                        </div>
                    </div>
                </article>
                <article class="style1">
                    <span class="image">
                        <img src="/wdm_project/static/images/uta_logo.png" alt="" />
                    </span>
                    <div class="overlay">

                        <div class="content">
                            <p><a href="recruiter_dashboard.html">Recruiter</a></p>
                        </div>
                    </div>
                </article>
                <article class="style1">
                    <span class="image">
                        <img src="/wdm_project/static/images/uta_logo.png" alt="" />
                    </span>
                    <div class="overlay">

                        <div class="content">
                            <p><a href="officer_dashboard.html">DEI Officer</a></p>
                        </div>
                    </div>
                </article>

                <article class="style1">
                    <span class="image">
                        <img src="/wdm_project/static/images/uta_logo.png" alt="" />
                    </span>
                    <div class="overlay">

                        <div class="content">
                            <p><a href="admin_dashboard.html">Admin</a></p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>
</body>

</html>