<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Candidate Job Search</title>
    <link rel="stylesheet" type="text/css" href="/static/css/candidate_jobsearch.css">

</head>

<body>
    <header>
        <div class="header-container">
            <h1>Candidate Job Search</h1>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="candidate_dashboard.html">Dashboard</a></li>
                        <li><a href="candidate_profile.html">Profile</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <!-- Job Searching Content -->
        <section id="jobsearch" class="tile">
            <div class="search">
                <input type="text" placeholder="Search by name, field of study, or institution">
                <button>Search</button>
            </div>

            <div class="filters">
                <!-- Field of Study filter -->
                <label for="field">Field of Study:</label>
                <select id="field">
                    <option value="all">All</option>
                    <option value="computer-science">Computer Science</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="physics">Physics</option>
                    <option value="mathematics">Mathematics</option>
                    <!-- Add more options as needed -->
                </select>

                <!-- Location filters -->
                <label for="location">Location:</label>
                <select id="location">
                    <option value="all">All</option>
                    <option value="city1">USA</option>
                    <option value="city2">India</option>
                    <option value="city3">Germany</option>
                    <!-- Add more options as needed -->
                </select>

                <label for="interest">Interest:</label>
                <select id="interest">
                    <option value="all">All</option>
                    <option value="interest1">AI</option>
                    <option value="interest2">ML</option>
                    <option value="interest3">OC</option>
                    <!-- Add more options as needed -->
                </select>

                <label for="job-type">Job Type:</label>
                <select id="job-type">
                    <option value="all">All</option>
                    <option value="full-time">Post-Doc</option>
                    <option value="part-time">PHD</option>
                    <option value="part-time">Faculty</option>
                    <!-- Add more options as needed -->
                </select>
            </div>


            <div class="candidate-list">
                <!-- Display list of available job postings here -->
                <div class="job-posting">
                    <div class="job-info">
                        <h2>Machine Learning Assistant Professor</h2>
                        <p>Field of Study: Computer Science</p>
                        <p>Location: USA</p>
                        <p>Job Type: Faculty</p>
                        <!-- Add more job details as needed -->
                    </div>
                    <div class="job-actions">
                        <button>Apply</button>
                        <button>Save</button>
                    </div>
                </div>

                <div class="job-posting">
                    <div class="job-info">
                        <h2>Phd Student</h2>
                        <p>Field of Study: Chemistry</p>
                        <p>Location: USA</p>
                        <p>Job Type: PHD</p>
                        <!-- Add more job details as needed -->
                    </div>
                    <div class="job-actions">
                        <button>Apply</button>
                        <button>Save</button>
                    </div>
                </div>

                <!-- Add more job postings as needed -->
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>
</body>

</html>