<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="/static/css/contact.css">
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Contact</h1>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">SignUp</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <!-- Contact Content -->
        <section id="contact" class="contact-section">
            <h2>Contact ADMIN</h2>
            <p>Would love to help you.</p>
            <div class="row">
                <div class="col-8 col-12-small form-section">
                    <form method="post" action="contact_admin.php">
                        <div class="row gtr-uniform gtr-50">
                            <input type="text" name="name" id="name" placeholder="Name" />
                            <input type="email" name="email" id="email" placeholder="Email" />
                            <textarea name="message" id="message" placeholder="Message" rows="4"></textarea>
                        </div>
                        <input type="submit" value="Send Message" class="button primary" />
                    </form>
                </div>
                <div class="col-4 col-12-small address-section">
                    <div class="address">
                        <h3 class="icon solid fa-home"><span class="label">Address</span></h3>
                        <p>
                            Street Address<br>
                            City, State Pincode<br>
                            Country
                        </p>
                    </div>
                    <div class="contact-info">
                        <h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
                        <p>(XXX) XXX-XXXX</p>
                        <h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
                        <p><a href="mailto:jayasurya.guna@gmail.com">admin@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>
</body>

</html>