<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/static/css/register.css">
</head>

<body>
    <header>
        <div class="header-container">
            <a href="index.html">
                <h1>Register</h1>
            </a>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="register_candidate.html">Candidate</a></li>
                        <li><a href="register_institution.html">Institution</a></li>
                        <li><a href="register_recruiter.html">Recruiter</a></li>
                        <li><a href="register_officer.html">Officer</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <main>

    </main>

    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>
</body>

</html>