<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URM Application</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Services</h1>
            <nav>
                <div class="call-to-action">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">SignUp</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <main>
        <!-- Goal Content -->
        <section id="goal">
            <div class="tile-container">
                <article class="style1">
                    <span class="image">
                        <h3 class="text">Registration</h3>
                        <img src="/static/images/pic02.jpg" alt="" />
                    </span>
                    <div class="overlay">

                        <div class="content">
                            <p class="details">Candidate/Institute/Recruiter/Officer</p>
                        </div>
                    </div>
                </article>
                <article class="style1">
                    <span class="image">
                        <h3 class="text">Login</h3>
                        <img src="/static/images/pic01.jpg" alt="" />
                    </span>
                    <div class="overlay">

                        <div class="content">
                            <p>Candidate/Institute/Recruiter/Officer</p>
                        </div>
                    </div>
                </article>
                <article class="style1">
                    <span class="image">
                        <h3 class="text">Search Jobs</h3>
                        <img src="/static/images/pic03.jpg" alt="" />
                    </span>
                    <div class="overlay">

                        <div class="content">
                            <p>Candidate</p>
                        </div>
                    </div>
                </article>
                <article class="style1">
                    <span class="image">
                        <h3 class="text">Post Jobs</h3>
                        <img src="/static/images/pic04.jpg" alt="" />
                    </span>
                    <div class="overlay">

                        <div class="content">
                            <p>Institute</p>
                        </div>
                    </div>
                </article>
                <article class="style1">
                    <span class="image">
                        <h3 class="text">Match Jobs</h3>
                        <img src="/static/images/pic02.jpg" alt="" />
                    </span>
                    <div class="overlay">

                        <div class="content">
                            <p>Recruiter</p>
                        </div>
                    </div>
                </article>
                <article class="style1">
                    <span class="image">
                        <h3 class="text">Contact</h3>
                        <img src="/static/images/pic01.jpg" alt="" />
                    </span>
                    <div class="overlay">

                        <div class="content">
                            <p>Admin</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 URM Application. All rights reserved.</p>
    </footer>
</body>

</html>